@media screen and (min-width: 1280px) and (max-width: 1650) {

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-vw-1 {
        width: 8.33333333vw
    }

    .col-md-vw-2 {
        width: 16.66666667vw
    }

    .col-md-vw-3 {
        width: 25vw
    }

    .col-md-vw-4 {
        width: 33.33333333vw
    }

    .col-md-vw-5 {
        width: 41.66666667vw
    }

    .col-md-vw-6 {
        width: 50vw
    }

    .col-md-vw-7 {
        width: 58.33333333vw
    }

    .col-md-vw-8 {
        width: 66.66666667vw
    }

    .col-md-vw-9 {
        width: 75vw
    }

    .col-md-vw-10 {
        width: 83.05vw
    }

    .col-md-vw-11 {
        width: 91.66666667vw
    }

    .col-md-vw-12 {
        width: 100vw
    }

    .grid-col-md-1 {
        grid-template-columns: repeat(1, 1fr)
    }

    .grid-col-md-2 {
        grid-template-columns: repeat(2, 2fr)
    }

    .grid-col-md-3 {
        grid-template-columns: repeat(3, 3fr)
    }

    .grid-col-md-4 {
        grid-template-columns: repeat(4, 4fr)
    }

    .grid-col-md-5 {
        grid-template-columns: repeat(5, 5fr)
    }

    .grid-col-md-6 {
        grid-template-columns: repeat(6, 6fr)
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .col-lm-1 {
        width: 8.33333333%
    }

    .col-lm-2 {
        width: 16.66666667%
    }

    .col-lm-3 {
        width: 25%
    }

    .col-lm-4 {
        width: 33.33333333%
    }

    .col-lm-5 {
        width: 41.66666667%
    }

    .col-lm-6 {
        width: 50%
    }

    .col-lm-7 {
        width: 58.33333333%
    }

    .col-lm-8 {
        width: 66.66666667%
    }

    .col-lm-9 {
        width: 75%
    }

    .col-lm-10 {
        width: 83.33333333%
    }

    .col-lm-11 {
        width: 91.66666667%;
    }

    .col-lm-12 {
        width: 100%
    }

    .col-lm-auto {
        width: auto;
    }

    .col-lm-vw-1 {
        width: 8.33333333vw
    }

    .col-lm-vw-2 {
        width: 16.66666667vw
    }

    .col-lm-vw-3 {
        width: 25vw
    }

    .col-lm-vw-4 {
        width: 33.33333333vw
    }

    .col-lm-vw-5 {
        width: 41.66666667vw
    }

    .col-lm-vw-6 {
        width: 50vw
    }

    .col-lm-vw-7 {
        width: 58.33333333vw
    }

    .col-lm-vw-8 {
        width: 66.66666667vw
    }

    .col-lm-vw-9 {
        width: 75vw
    }

    .col-lm-vw-10 {
        width: 83.33333333vw
    }

    .col-lm-vw-11 {
        width: 91.66666667vw
    }

    .col-lm-vw-12 {
        width: 100vw
    }

    .grid-col-lm-1 {
        grid-template-columns: repeat(1, 1fr)
    }

    .grid-col-lm-2 {
        grid-template-columns: repeat(2, 2fr)
    }

    .grid-col-lm-3 {
        grid-template-columns: repeat(3, 3fr)
    }

    .grid-col-lm-4 {
        grid-template-columns: repeat(4, 4fr)
    }

    .grid-col-lm-5 {
        grid-template-columns: repeat(5, 5fr)
    }

    .grid-col-lm-6 {
        grid-template-columns: repeat(6, 6fr)
    }

    // @for $i from 1 through 50 {
    //     .grid-gap-lm-#{$i} {
    //         grid-gap: #{$i}px;
    //     }
    // }

    [class*=padding-] {
        padding: 0;
    }

    html {
       // font-size: 16px;
    }

    // @include mobileStyles;
    // @include headerFullwidth;

}

@media screen and (min-width: 320px) and (max-width: 768px) {

    /* global */

    .col-xs-1 {
        width: 8.33333333%
    }

    .col-xs-2 {
        width: 16.66666667%
    }

    .col-xs-3 {
        width: 25%
    }

    .col-xs-4 {
        width: 33.33333333%
    }

    .col-xs-5 {
        width: 41.66666667%
    }

    .col-xs-6 {
        width: 50%
    }

    .col-xs-7 {
        width: 58.33333333%
    }

    .col-xs-8 {
        width: 66.66666667%
    }

    .col-xs-9 {
        width: 75%
    }

    .col-xs-10 {
        width: 83.33333333%
    }

    .col-xs-11 {
        width: 91.66666667%;
        //width: calc(100vw - .8rem);
    }

    .col-xs-12 {
        width: 100%
    }

    .col-xs-auto {
        width: auto;
    }

    .col-xs-vw-1 {
        width: 8.33333333vw
    }

    .col-xs-vw-2 {
        width: 16.66666667vw
    }

    .col-xs-vw-3 {
        width: 25vw
    }

    .col-xs-vw-4 {
        width: 33.33333333vw
    }

    .col-xs-vw-5 {
        width: 41.66666667vw
    }

    .col-xs-vw-6 {
        width: 50vw
    }

    .col-xs-vw-7 {
        width: 58.33333333vw
    }

    .col-xs-vw-8 {
        width: 66.66666667vw
    }

    .col-xs-vw-9 {
        width: 75vw
    }

    .col-xs-vw-10 {
        width: 83.33333333vw
    }

    .col-xs-vw-11 {
        width: 91.66666667vw
    }

    .col-xs-vw-12 {
        width: 100vw
    }

    .grid-col-xs-1 {
        grid-template-columns: repeat(1, 1fr)
    }

    .grid-col-xs-2 {
        grid-template-columns: repeat(2, 2fr)
    }

    .grid-col-xs-3 {
        grid-template-columns: repeat(3, 3fr)
    }

    .grid-col-xs-4 {
        grid-template-columns: repeat(4, 4fr)
    }

    .grid-col-xs-5 {
        grid-template-columns: repeat(5, 5fr)
    }

    .grid-col-xs-6 {
        grid-template-columns: repeat(6, 6fr)
    }

    // @for $i from 1 through 50 {
    //     .grid-gap-xs-#{$i} {
    //         grid-gap: #{$i}px;
    //     }
    // }

    .title {
        &.type-1 > * {
            font-size: 1.5rem;
        }
        &.type-2 > * {
            font-size: 2rem;
        }
        &-desc {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    html {
        font-size: 16px;
    }
    
    #main {
        background: none;
        position: relative;
        z-index: 2;
    }

    .text-block {
        padding-right: 1.5rem;
    }
    .text-block_text {
        font-size: 1.3rem;
    }
    .heading-block_title {
        font-size: 3rem;
    }
    .fixed {
        font-size: 3rem;
    }
    .text-block--others {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
        margin-top: 1rem;
    }
    .text-block_text--others:last-child {
        padding-top: 0;
    }
    .text-block_text--projects {
        font-size: 1rem;
    }
    .section-wrap {
        padding-top: 6rem;
    }

    .heading-block--main {
        margin-bottom: 6rem;
    }
    .fixed {
        left: 1.5rem;
        padding-top: 13rem;
    }
    .heading-block--last {
        margin-bottom: 0;
    }
    .navigation-link span:after {
        display: none;
    }
    .navigation-link:hover span {
        transform: translateY(0);
    }
    .list-item {
        width: 100%;
    }
    .list-item:nth-child(odd) {
        padding-right: 0rem;
    }
    .list-item_img img {
        object-fit: cover;
    }
    
    .burger {
        width: 3rem;
        height: .3rem;
        background-color: $black;
        position: relative;
        margin-top: .6rem;
        &::after {
            content: '';
            width: 2rem;
            height: .3rem;
            background-color: $black;
            transform: translateY(0.5rem);
            position: absolute;
            top: 0;
            right: 0;

        }

    }
    .burger-items {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
        height: 100vh;
        width: 100vw;
        background-color: white;
        z-index: 99999999999;
        transform: scale(0.9);
        &.open {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transform: scale(1);
        }
    }
    .header-mob_block {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;
    }
    .header-item--logo {
        height: 2rem;
        padding-left: 0;
    }
    .header-mob {
        z-index: 9;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
    }
    .close {
        position: relative;
        z-index: 999999999;
        transform: translate(-1rem, 2rem);
        &::after,
        &::before {
            content: '';
            background-color: $black;
            width: 2rem;
            height: .3rem;
            position: absolute;
            top: 0;
            right: 0;
        }
        &::before {
            transform: rotate(135deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    .burger-items_wrap {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .navigation-link {
        font-size: 3rem;
    }
}

@media screen and (max-width: 319px) {}