.heading-block--main {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.fixed {
    font-size: 7rem;
    position: fixed;
    z-index: 9;
    width: 50%;
    top: 0;
    right: 0;
    align-items: center;
    padding-top: 17.5rem;
    transition:  all 1s cubic-bezier(0.33, 1, 0.68, 1);
}

#fp-nav {
    display: none;
}

.main-block_logo--first {
    margin-right: 6rem;
}
.section--black {
    .heading-block_title,.text-block_text {
        color: $black;
        -webkit-text-stroke-color: $black;
        &::before {
            color: $black;
        }
    }
}
.section--red {
    .heading-block_title,.text-block_text {
        color: $red;
        -webkit-text-stroke-color: $red;
        &::before {
            color: $red;
        }
    }
}
.section--darkyellow {
    .heading-block_title,.text-block_text {
        color: $darkyellow;
        -webkit-text-stroke-color: $darkyellow;
        &::before {
            color: $darkyellow;
        }
    }
}
.section--yellow {
    .heading-block_title,.text-block_text {
        color: $yellow;
        -webkit-text-stroke-color: $yellow;
        &::before {
            color: $yellow;
        }
    }
}
.section--green {
    .heading-block_title,.text-block_text {
        color: $green;
        -webkit-text-stroke-color: $green;
        &::before {
            color: $green;
        }
    }
}
.section--blue {
    .heading-block_title,.text-block_text {
        color: $blue;
        -webkit-text-stroke-color: $blue;
        &::before {
            color: $blue;
        }
    }
}
.section--darkblue {
    .heading-block_title,.text-block_text {
        color: $darkblue;
        -webkit-text-stroke-color: $darkblue;
        &::before {
            color: $darkblue;
        }
    }
}
.section--purp {
    .heading-block_title,.text-block_text {
        color: $purp;
        -webkit-text-stroke-color: $purp;
        &::before {
            color: $purp;
        }
    }
}

.section-wrap {
    padding-top: 13rem;
}
.main-block_logo {
    font-size: 7rem;
}
.main-block_logo--first,.main-block_logo--last {
    .logo-item,.logo-item_last {
        display: inline-block;
        animation-fill-mode: forwards;
        transform: translateY(.5rem) rotate(-10deg);
    }
    &:hover {
        .logo-item,.logo-item_last {
            animation: logo 1.5s ease-in-out;
        }
    }
} 
.heading-block_title {
    font-size: 7rem;
    display: inline-block;
}

.text-block_text {
    font-size: 1.5rem;
    margin-top: 1rem;
    opacity: 0;
    transition:  all .75s cubic-bezier(0.25, 1, 0.5, 1);
    transform: translateX(-10rem);
    &.active {
        opacity: 1;
        transform: translateX(0);
    }
}
.text-block_text--link {
    color: $yellow;
}

.text-block {
    padding-left: 1.5rem;
    margin-top: 1rem;
}

.text-block--others {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(2,1fr);
}
.text-block_text--others {
    &:last-child {
        padding-top: 2rem;
    }
}
.heading-block--notmain {
    padding-left: 1.5rem;
}

.fp-section {
    &.active {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        .heading-block_title {
            
            &::before {
                width: 100%;
            }
        }
    }
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all .9s ease-in-out;
    .heading-block_title {
        color: transparent;
        -webkit-text-stroke-width: 1px;
       // -webkit-text-stroke-color: currentColor;
        position: relative;
        &::before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            //color: inherit;
            overflow: hidden;
            /* Setting width to 0*/
            width: 0%;
            transition: all 2s cubic-bezier(0, 0.55, 0.45, 1);;
            //padding-left: 1.5rem;
        } 
    }
}

@keyframes logo {
    0% {
        transform: translateY(0rem) rotate(-10deg);
    }
    50% {
        transform: translateY(-4rem) rotate(200deg);
    }
    100% {
        transform:  translateY(.5rem) rotate(-10deg);
    }
}