.header-block {
    display: grid;
    grid-template-columns: repeat(12, 12fr);;
}
.main-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    padding-left: .5rem;
    padding-right: 2rem;
}
.header-item--logo {
    width: 5rem;
    height: 5rem;
    padding-left: 1rem;
    grid-column: 1/1;
    display: block;
    text-decoration: none;
    color: $black;
    font-size: 1.5rem;
    .rotate-item {
        transform: rotate(-10deg);
        margin-top: .1rem;
        animation-fill-mode: forwards;
        display: inline-block;
    }
    &:hover {
        .rotate-item {
            animation: logo-header 1.5s cubic-bezier(0.34, 1.56, 0.64, 1);
            //animation-fill-mode: both;
        }
        
       
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.header-item--projects {
    grid-column: 7/7;
}
.header-item--contact {
    grid-column: 12/12;
}
.header-item {
    display: flex;
    align-items: center;
}
.navigation-link--projects {
    text-align: center;
}
.header-item--contact {
    text-align: end;
}

.navigation-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $black;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    span {
        display:block;
        position: relative;
        transition: .25s  cubic-bezier(0.25, 0.46, 0.45, 0.94);
        &::after {
            content: attr(data-text);
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 100%;
            color: $red;
        }
    }
    &:hover span {
        transform: translateY(100%);
    }
    
}
.navigation-link--contact {
    span {
        &::after {
            color: $blue;
        }
    }
}


@keyframes logo-header {
    0% {
        transform: translateY(0rem) rotate(-10deg);
    }
    50% {
        transform: translateY(-1rem) rotate(200deg);
    }
    100% {
        transform:  translateY(0rem) rotate(-10deg);
    }
}