@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Medium.woff') format('woff'),
        url('../fonts/Graphik-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Noto Sans';
//     src: url('../fonts/ElectroluxSans-SemiBold.woff') format('woff'),
//         url('../fonts/ElectroluxSans-SemiBold.woff2') format('woff2');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Noto Sans';
//     src: url('../fonts/ElectroluxSans-SemiBold.woff') format('woff'),
//         url('../fonts/ElectroluxSans-SemiBold.woff2') format('woff2');
//     font-weight: 800;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Noto Sans';
//     src: url('../fonts/ElectroluxSans-Light.woff') format('woff'),
//         url('../fonts/ElectroluxSans-Light.woff2') format('woff2');
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }

// scroll bar

@media (min-width: 768px) {
    .col-full {
        max-width: 100% !important;
    }
}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: $blue;
    background-color: rgba($blue, .85);
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: $blue;
    background-color: $blue;
}

::-webkit-scrollbar-track {
    border-width: 0;
}

::-moz-scrollbar {
    width: 4px;
}

::-moz-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: $blue;
    background-color: rgba($blue, .85);
}

::-moz-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: $blue;
    background-color: $blue;
}

::-moz-scrollbar-track {
    border-width: 0;
}

html {
    font-size: 0.95vw;
    font-family: 'Graphik', sans-serif;
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}
#main {
    display: flex;
    align-items: center;    
    flex-direction: column;
    color: $blue;
    background-image: url(../img/main-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mobile-bg {
    display: none;
}
.ya-share2 {
    padding-top: 2.5rem;
    .ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
input {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-radius: 0px;
}


// .section-wrap {
//     height: 100vh;
// }
// #fullpage {
//     height: 100vh !important;
// }