.list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    padding: 2rem 1.5rem;
}
.list-item_img {
    width: 100%;
    height: 100%;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.list-item {
    position: relative;
    display: block;
    transition: all .75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:hover {
        .text-block_text--projects  {
            opacity: 1;
            transform: translate(0, 0rem);
        }
       
    }
}


.text-block_text--projects {
    opacity: 0;
    transform: translate(0, 1rem);
    position: absolute;
    top: 45%;
    left: 5%;
    color: $white;
   
    
}

.color-text {
    display: block;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .list {
        grid-template-columns: repeat(1,1fr);
    }
    .text-block_text--projects {
        opacity: 1;
        transform: translate(0, 0rem);
    }
}