.single-post_img {
    height: 65vh;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.text-block_text--single {
    opacity: 1;
    transform: translate(0, 0);
    top: 75%;
    left: 3%;
    font-size: 2.1rem;
}

.content-img {
    width: 36rem;
    height: 15rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
}
.content-wrap {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.gutenberg-wrap {
    .wp-block-image {
        img {
            width: 100%;
        }
    }
    p {
        font-size: 1.5rem;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .gutenberg-wrap p {
        padding-left: .5rem;
    }
    .single-post_img {
        height: 50vh;
    }
}