$blue: #233455;
$blue-light: #CFDDE5;
$white : #ffffff;
$black : #000000;
$yellow : #FFE600;
$darkyellow : rgba(255, 157, 0, 1);
$green : rgba(0, 192, 81, 1);
$blue : rgba(0, 152, 255, 1);
$darkblue : rgba(10, 34, 255, 1);
$purp : rgba(177, 0, 255, 1);
$red : rgba(255, 22, 0, 1);


